BasedOnStyle: LLVM
IndentWidth: 2
TabWidth: 2
UseTab: Never
PointerAlignment: Right

BreakBeforeBraces: Allman
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLoopsOnASingleLine: true
AccessModifierOffset: -4
BreakAfterReturnType: TopLevel
